@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    
    overflow-x: hidden;
    color: rgb(19, 18, 18);
    background-image: url('pic3.jpg');
    width: 1500px;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}